APP_NAME=NETSPRING
APP_ENV=production
APP_DEBUG=false
APP_KEY=                          # php artisan key:generate --show
APP_URL=https://ton-domaine.ci

DB_CONNECTION=mysql
DB_HOST=${{MySQL.MYSQL_HOST}}
DB_PORT=${{MySQL.MYSQL_PORT}}
DB_DATABASE=${{MySQL.MYSQL_DATABASE}}
DB_USERNAME=${{MySQL.MYSQL_USER}}
DB_PASSWORD=${{MySQL.MYSQL_PASSWORD}}

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database

FILESYSTEM_DISK=public

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=netspringbusiness@gmail.com
MAIL_PASSWORD=                    # Mot de passe App Gmail
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=netspringbusiness@gmail.com
MAIL_FROM_NAME=NETSPRING

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

GENIUSPAY_API_KEY=<votre-cle-publique-live>
GENIUSPAY_API_SECRET=<votre-cle-secrete-live>
GENIUSPAY_WEBHOOK_SECRET=<votre-secret-webhook-live>

LOG_CHANNEL=stack
LOG_LEVEL=error
